<!--
<footer class="site-footer" role="contentinfo" style="padding: 0; margin: 0;">
  <div style="text-align: right; margin: 0; padding: 0; line-height: 0;">
    <img src="{{ '/assets/images/eu-funded-en.jpg' | relative_url }}" alt="Footer Logo" style="height: 50px; margin: 0; padding: 0; display: inline-block;">
  </div>
</footer>
-->

<div style="display: flex; justify-content: space-between; align-items: center; padding: 0; margin: 0;">
  <!-- Left-side text -->
  <div style="text-align: left;">
    <p style="margin: 0;">2025 G. Tkachenko. OSCILLIGHT - Mechanical torsional oscillations driven by the angular momentum of light.</p>
  </div>

  <!-- Right-side image -->
  <div style="text-align: right;">
    <img src="{{ '/assets/images/eu-funded-en.jpg' | relative_url }}" alt="Footer Logo" style="height: 50px; margin: 0; padding: 0; display: inline-block;">
  </div>
  </div>
</div>
